<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.webase.transaction.trans.TransMapper">
    <sql id="TRANS_COLUMN">
        id,
        group_id as groupId,
        contract_abi as contractAbi,
        contract_address as contractAddress,
        func_name as funcName,
        func_param as funcParam,
        request_count as requestCount,
        sign_type as signType,
        sign_user_id as signUserId,
        gmt_create as gmtCreate
    </sql>
    
    <insert id="insertTransInfo" parameterType="com.webank.webase.transaction.trans.TransInfoDto">
        insert into tb_stateless_transaction(
            `group_id`,
            `uuid_stateless`,
            `uuid_deploy`,
            `contract_address`,
            `contract_abi`,
            `func_name`,
            `func_param`,
            `sign_type`,
            `sign_user_id`,
            `gmt_create`,
            `gmt_modify`
        ) values (
            #{groupId},
            #{uuidStateless},
            #{uuidDeploy},
            #{contractAddress},
            #{contractAbi},
            #{funcName},
            #{funcParam},
            #{signType},
            #{signUserId},
            #{gmtCreate},
            DATE_SUB(NOW(),INTERVAL 1 DAY)
        )
    </insert>
    
    <select id="selectTransInfo" resultType="com.webank.webase.transaction.trans.TransInfoDto">
        select trans_hash as transHash,
               contract_abi as contractAbi,
               func_name as funcName,
               trans_output as transOutput
        from tb_stateless_transaction
        where group_id = #{groupId}
          and uuid_stateless = #{uuidStateless}
        limit 1
    </select>
    
    <select id="selectUnStatTrans" resultType="com.webank.webase.transaction.trans.TransInfoDto">
        select <include refid="TRANS_COLUMN" />
        from tb_stateless_transaction
        where handle_status = 0
        <![CDATA[
          and request_count <= #{requestCountMax}
          and TIMESTAMPDIFF(SECOND,gmt_modify,NOW()) >= #{intervalTime}
        ]]>
        limit 0,#{selectCount}
    </select>
    
    <select id="selectUnStatTransByJob" resultType="com.webank.webase.transaction.trans.TransInfoDto">
        select <include refid="TRANS_COLUMN" />
        from tb_stateless_transaction
        where handle_status = 0
        and MOD(id,#{shardingTotalCount}) = #{shardingItem}
        <![CDATA[
          and request_count <= #{requestCountMax}
          and TIMESTAMPDIFF(SECOND,gmt_modify,NOW()) >= #{intervalTime}
        ]]>
        limit 0,#{selectCount}
    </select>
    
    <update id="updateRequestCount">
        update tb_stateless_transaction 
        set request_count=#{requestCount},
            gmt_modify=NOW() 
        where id = #{id}
          and gmt_create = #{gmtCreate}
    </update>
    
    <update id="updateHandleStatus">
        update tb_stateless_transaction 
        set trans_hash = #{transHash},
            trans_output = #{transOutput},
            receipt_status = #{receiptStatus},
            handle_status = #{handleStatus},
            gmt_modify = NOW() 
        where id = #{id}
          and gmt_create = #{gmtCreate}
    </update>
    
    <delete id="deletePartData">
        DELETE FROM tb_stateless_transaction
        <![CDATA[
          where TO_DAYS(NOW())-TO_DAYS(gmt_create) >= #{keepDays}
        ]]>
    </delete>
</mapper>